header{
    display: flex;
}

.container{
    width: 36rem;
    height: 27.5rem;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 4.31rem;
}

.brand{
    display: flex;
    gap: 1rem;
}

.right{
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}